<!doctype html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>POWERTHEN</title>

    <meta th:replace="~{web/fragment/library :: meta}"/>
    <link th:replace="~{web/fragment/library :: link}"/>
</head>
<body>
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
    your browser</a> to improve your experience and security.</p>
<![endif]-->

<!-- Main wrapper -->
<div class="wrapper" id="wrapper">

    <!-- Header -->
    <footer th:replace="~{web/fragment/header :: header}"></footer>
    <!-- Search Popup -->
    <footer th:replace="~{web/fragment/search :: #main-search}"></footer>

    <!-- Bradcaump area -->
    <div class="ht__bradcaump__area bg-image--6"></div>

    <!-- Start Shop Page -->
    <div class="page-shop-sidebar left--sidebar bg--white section-padding--lg">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-12 order-2 order-lg-1 md-mt-40 sm-mt-40">
                    <div class="shop__sidebar">
                        <aside class="wedget__categories poroduct--cat">
                            <h3 class="wedget__title">Product Categories</h3>
                            <ul>
                                <li th:each="ct : ${categories}">
                                    <a class="category" href="#">
                                        <span th:text='${ct.value}'></span>
                                        <p th:text='${ct.key}'></p>
                                    </a>
                                </li>
                            </ul>
                        </aside>
                        <aside class="wedget__categories poroduct--cat">
                            <form action="javascript:$('.price--filter > a').click();">
                                <h3 class="wedget__title">Filter by price</h3>
                                <ul>
                                    <li>
                                        <a>
                                            <span><input class="currency" id="min_price" type="text"></span>
                                            <p>From: </p>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span><input class="currency" id="max_price" type="text"></span>
                                            <p>To: </p>
                                        </a>
                                    </li>
                                </ul>
                                <div class="price--filter" hidden>
                                    <a href="#">Filter</a>
                                    <input type="submit">
                                </div>
                            </form>
                        </aside>
                        <aside class="wedget__categories poroduct--cat" th:each="fds : ${fieldDetails}">
                            <h3 class="wedget__title" th:utext="${fds.key}"></h3>
                            <ul>
                                <li th:each="fd : ${fds.value}">
                                    <a class="field_detail" href="#">
                                        <span th:text='${fd.value}'></span>
                                        <p th:text='${fd.key}'></p>
                                    </a>
                                </li>
                            </ul>
                        </aside>
                    </div>
                </div>
                <div class="col-lg-9 col-12 order-1 order-lg-2">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="shop__list__wrapper d-flex flex-wrap flex-md-nowrap justify-content-between">
                                <div class="shop__list nav justify-content-center" role="tablist">
                                    <a class="nav-item nav-link active" data-toggle="tab" href="#nav-grid" role="tab"><i
                                            class="fa fa-th"></i></a>
                                    <a class="nav-item nav-link" data-toggle="tab" href="#nav-list" role="tab"><i
                                            class="fa fa-list"></i></a>
                                </div>
                                <p th:utext='${"SHOW PRODUCT"}'></p>
                                <div class="orderby__wrapper">
                                    <span>Sort By</span>
                                    <select class="shot__byselect" id="sort_by">
                                        <option value="">Mới nhất</option>
                                        <option value="ID_ASC">Cũ nhất</option>
                                        <option value="PRICE_DESC">Cao nhất</option>
                                        <option value="PRICE_ASC">Thấp nhất</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab__container">
                        <div class="shop-grid tab-pane fade show active" id="nav-grid" role="tabpanel">
                            <div class="row">
                                <!-- Start Single Product -->
                                <div class="product product__style--3 col-lg-4 col-md-4 col-sm-6 col-12"
                                     th:each="product : ${products}">
                                    <div class="product__thumb">
                                        <a class="first__img" href="single-product.html">
                                            <img alt="" class="product-image-grid" th:src="${product.image}">>
                                        </a>
                                        <a class="second__img animation1"
                                           th:href="@{~/web/product/{id}(id=${product.id})}"><img
                                                alt="product image" th:src="${product.image}"></a>
                                        <div class="hot__box">
                                            <span class="hot-label">BEST SALLER</span>
                                        </div>
                                    </div>
                                    <div class="product__content content--center">
                                        <h4><a href="single-product.html" th:utext="${product.name}"></a></h4>
                                        <ul class="prize d-flex">
                                            <li th:if="${product.discount != null}"
                                                th:utext="${@vncurrency.format(product.discount)}"></li>
                                            <li th:if="${product.discount == null}"
                                                th:utext="${@vncurrency.format(product.price)}"></li>
                                            <li class="old_prize" th:if="${product.discount != null}"
                                                th:utext="${@vncurrency.format(product.price)}"></li>
                                        </ul>
                                        <div class="action">
                                            <div class="actions_inner">
                                                <ul class="add_to_links">
                                                    <li><a class="cart"
                                                           th:href="@{~/web/cart/add/{id}(id=${product.id})}"><i
                                                            class="bi bi-shopping-cart-full"></i></a></li>
                                                    <li><a class="compare" href="#"><i class="bi bi-heart-beat"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="product__hover--content">
                                            <ul class="rating d-flex"></ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Product -->

                            </div>
                            <ul class="wn__pagination">
                                <li><a class="left_wn__pagination" href="#"><i class="zmdi zmdi-chevron-left"></i></a>
                                </li>
                                <li th:classappend="${num.equals(page)} ? 'active' : ''"
                                    th:each="num : ${totalPage}">
                                    <a class="a_wn__pagination" href="#" th:utext="${num+1}"></a>
                                </li>
                                <li><a class="right_wn__pagination" href="#"><i class="zmdi zmdi-chevron-right"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Shop Page -->

    <!-- Footer Area -->
    <footer th:replace="~{web/fragment/footer :: footer}"></footer>
</div>
<!-- //Main wrapper -->


<script th:replace="~{web/fragment/library :: script}"></script>

</body>
</html>