<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Management</title>

    <meta th:replace="~{admin/fragment/library :: meta}"/>
    <link th:replace="~{admin/fragment/library :: link}"/>
</head>
<body>
<div class="wrapper">
    <!-- Main-header -->
    <div th:replace="~{admin/fragment/main-header :: .main-header}"></div>

    <!-- Sidebar -->
    <div th:replace="~{admin/fragment/sidebar :: .sidebar}"></div>

    <div class="main-panel">
        <div class="content">
            <div class="page-inner">
                <div th:replace="~{admin/fragment/page-header :: page-header(items = ${ {'Product', 'Choose Category'} }) }"></div>

                <div class="row">
                    <div class="col-md-12">
                        <form th:object="${categories}" th:action="@{~/admin/product/add}" method="post">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title">Product Category</div>
                                    <div class="card-body">
                                        <select name="getCategoryId" required>
                                            <option value="">Choose Category</option>
                                            <option th:each="category : ${categories}"
                                                    th:value="${category.id}"
                                                    th:utext="${category.category}"/>
                                        </select>
                                        <button class="btn btn-success" type="submit">Next</button>
                                        <a class="btn btn-danger" th:href="@{~/admin/product}">Cancel</a>
<!--                                        <div class="card-action">-->
<!--                                            <button class="btn btn-success" type="submit">Next</button>-->
<!--                                            <a class="btn btn-danger" th:href="@{~/admin/product}">Cancel</a>-->
<!--                                        </div>-->
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>
<script th:replace="~{admin/fragment/library :: script}"></script>

<script>
    $(document).ready(function () {
        $('#multi-filter-select').DataTable({
            initComplete: function () {
                this.api().columns().every(function () {
                    var column = this;
                    var select = $('<select class="form-control"><option value=""></option></select>')
                        .appendTo($(column.footer()).empty())
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );

                            column
                                .search(val ? '^' + val + '$' : '', true, false)
                                .draw();
                        });

                    column.data().unique().sort().each(function (d, j) {
                        select.append('<option value="' + d + '">' + d + '</option>')
                    });
                });
            }
        });
        $('select').selectpicker({
            liveSearch: 'true',
            size: 6
        });
    });
</script>
</body>
</html>