<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Management</title>

    <meta th:replace="~{admin/fragment/library :: meta}"/>
    <link th:replace="~{admin/fragment/library :: link}"/>
</head>
<body>
<div class="wrapper">
    <!-- Main-header -->
    <div th:replace="~{admin/fragment/main-header :: .main-header}"></div>

    <!-- Sidebar -->
    <div th:replace="~{admin/fragment/sidebar :: .sidebar}"></div>

    <div class="main-panel">
        <div class="content">
            <div class="page-inner">
                <div th:replace="~{admin/fragment/page-header :: page-header(items = ${ {'Product', 'Edit'} }) }"></div>

                <div class="row">
                    <div class="col-md-12">
                        <form method="post" th:action="@{~/admin/product/edit}" th:object="${product}">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title">Product</div>
                                </div>
                                <div class="card-body">
                                    <div class="form-group" hidden>
                                        <label for="id">Id</label>
                                        <input class="form-control form-control" id="id" name="name" placeholder="Name"
                                               th:field="*{id}" type="text">
                                    </div>
                                    <div class="form-group">
                                        <label for="id">Name</label>
                                        <input class="form-control form-control" id="name" name="name" required
                                               placeholder="Name"
                                               th:field="*{name}" type="text">
                                    </div>
                                    <div class="form-group" hidden>
                                        <label>Category</label>
                                        <input class="form-control form-control" id="category" name="category"
                                               readonly th:field="*{category}" type="text">
                                    </div>
                                    <div class="form-group">
                                        <label for="id">Price</label>
                                        <input class="form-control form-control" id="price" name="price" required
                                               placeholder="Price"
                                               th:field="*{price}" type="number">
                                    </div>
                                    <div class="form-group">
                                        <label for="id">Discount</label>
                                        <input class="form-control form-control" id="discount" name="price"
                                               placeholder="Price"
                                               th:field="*{discount}" type="number">
                                    </div>
                                    <div class="form-group">
                                        <label>Image</label>
                                        <input class="form-control form-control" name="price"
                                               placeholder="Image"
                                               th:field="*{image}" type="text">
                                    </div>
                                    <div class="form-group">
                                        <label for="id">Description</label>
                                        <input class="form-control form-control" name="description"
                                               placeholder="Description" th:field="*{description}" type="text">
                                    </div>
                                    <div class="form-group" hidden>
                                        <label for="id">Field Details</label>
                                        <input class="form-control form-control" id="fds"
                                               name="fds" placeholder="Description"
                                               type="text">
                                    </div>
                                </div>
                                <div class="card-header">
                                    <div class="card-title">Field Details</div>
                                </div>
                                <div class="card-body" id="field_details">
                                    <div class="form-group" th:each="fd : ${product.fieldDetails}">
                                        <label th:utext="${fd.field.field}"></label>
                                        <input class="form-control form-control fd_input" placeholder="Detail" required
                                               th:value="${fd.detail}"
                                               type="text">
                                    </div>
                                    <div class="card-action">
                                        <button class="btn btn-success" type="submit">Submit</button>
                                        <a class="btn btn-danger" th:href="@{~/admin/storage}">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>
<script th:replace="~{admin/fragment/library :: script}"></script>

<script>
    $(document).ready(function () {
        $('select').selectpicker({
            liveSearch: 'true',
            size: 6
        });

        $('.fd_input').on('keyup', function () {
            let s = "";
            $('.fd_input').each(function () {
                s += $(this).val() + ";;;";
            });
            $('#fds').val(s.substring(0, s.length - 3));
        });

        updateFieldDetails();

        function updateFieldDetails() {
            let s = "";
            $('.fd_input').each(function () {
                s += $(this).val() + ";;;";
            });
            $('#fds').val(s.substring(0, s.length - 3));
        }
    });
</script>
</body>
</html>