<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Boot Security</title>
</head>
<body>
<h2>Form Login2</h2>
<h4 th:text="${message}"></h4>
<form method='POST' name='login-form' th:action="@{/customer_login}">
    <table>
        <tr>
            <td>Email:</td>
            <td><input name='email' type='text'></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type='password' name='password'/></td>
        </tr>
        <tr>
            <td><input name="submit" type="submit" value="submit"/></td>
        </tr>
    </table>
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
</form>
</body>
</html>