<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Management</title>

    <meta th:replace="~{admin/fragment/library :: meta}"/>
    <link th:replace="~{admin/fragment/library :: link}"/>
</head>
<body>
<div class="wrapper">
    <!-- Main-header -->
    <div th:replace="~{admin/fragment/main-header :: .main-header}"></div>

    <!-- Sidebar -->
    <div th:replace="~{admin/fragment/sidebar :: .sidebar}"></div>

    <div class="main-panel">
        <div class="content">
            <div class="page-inner">
                <div th:replace="~{admin/fragment/page-header :: page-header(items = ${ {'Storage', 'Export'} }) }"></div>

                <div class="row">
                    <div class="col-md-12">
                        <form th:action="@{~/admin/storage/expSave}" th:object="${product}" method="post">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title">Product</div>
                                </div>
                                <div class="card-body">
                                    <div class="form-group" >
                                        <label for="id">ID</label>
                                        <input type="text" class="form-control form-control" id="id" th:field="*{id}" placeholder="ID" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label for="id">Name</label>
                                        <input type="text" class="form-control form-control" id="id" th:field="*{name}" placeholder="Name" readonly>
                                    </div>
                                    <div class="form-group" >
                                        <label for="defaultInput">Category</label>
                                        <input type="text" class="form-control form-control" id="defaultInput" th:field="*{category.category}" placeholder="Category" readonly>
                                    </div>
                                    <div class="form-group" hidden="hidden">
                                        <label for="defaultInput">Category Id</label>
                                        <input type="text" class="form-control form-control" id="defaultInput" th:field="*{category.id}" placeholder="Category.id">
                                    </div>
                                    <div class="form-group" >
                                        <label for="id">Current Quantity</label>
                                        <input type="text" class="form-control form-control" id="quantity" th:field="*{quantity}" placeholder="Quantity" readonly>
                                    </div>
                                    <div class="form-group" hidden="hidden">
                                        <label for="id">Price</label>
                                        <input type="text" class="form-control form-control" id="price" th:field="*{price}" placeholder="Price">
                                    </div>
                                    <div class="form-group" hidden="hidden">
                                        <label for="id">Product Description</label>
                                        <input type="text" class="form-control form-control" id="description" th:field="*{description}" placeholder="Description">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="id">Quantity To Export</label>
                                    <input class="form-control form-control" id="defaultInput" name="changeQuantity"
                                           placeholder="change Quantity" required type="number">
                                </div>
                                <div class="form-group">
                                    <label for="id">History Description</label>
                                    <input class="form-control form-control" id="defaultInput" name="histotyDescription"
                                           placeholder="History Description" required type="text">
                                </div>
                                <div class="card-action">
                                    <button class="btn btn-success" type="submit">Submit</button>
                                    <a class="btn btn-danger" th:href="@{~/admin/storage}">Cancel</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>
<script th:replace="~{admin/fragment/library :: script}"></script>

<script>
    $(document).ready(function () {
        $('#multi-filter-select').DataTable({
            initComplete: function () {
                this.api().columns().every(function () {
                    var column = this;
                    var select = $('<select class="form-control"><option value=""></option></select>')
                        .appendTo($(column.footer()).empty())
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );

                            column
                                .search(val ? '^' + val + '$' : '', true, false)
                                .draw();
                        });

                    column.data().unique().sort().each(function (d, j) {
                        select.append('<option value="' + d + '">' + d + '</option>')
                    });
                });
            }
        });
        $('select').selectpicker({
            liveSearch: 'true',
            size: 6
        });
    });
</script>
</body>
</html>