<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Management</title>

    <meta th:replace="~{admin/fragment/library :: meta}"/>
    <link th:replace="~{admin/fragment/library :: link}"/>
</head>
<body>
<div class="wrapper">
    <!-- Main-header -->
    <div th:replace="~{admin/fragment/main-header :: .main-header}"></div>

    <!-- Sidebar -->
    <div th:replace="~{admin/fragment/sidebar :: .sidebar}"></div>

    <div class="main-panel">
        <div class="content">
            <div class="page-inner">
                <div th:replace="~{admin/fragment/page-header :: page-header(items = ${ {'Storage', 'Import'} }) }"></div>

                <div class="row">
                    <div class="col-md-12">
                        <form method="post" th:action="@{~/admin/storage/impSave}" th:object="${product}">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title">Product</div>
                                </div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label>ID</label>
                                        <input class="form-control form-control" placeholder="ID" readonly
                                               th:field="*{id}" type="text">
                                    </div>
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input class="form-control form-control" placeholder="Name" readonly
                                               th:field="*{name}" type="text">
                                    </div>
                                    <div class="form-group">
                                        <label>Category</label>
                                        <input class="form-control form-control"
                                               placeholder="Category"
                                               readonly th:field="*{category.category}" type="text">
                                    </div>
                                    <div class="form-group" hidden="hidden">
                                        <label>Category Id</label>
                                        <input class="form-control form-control"
                                               placeholder="Category.id"
                                               th:field="*{category.id}" type="text">
                                    </div>
                                    <div class="form-group">
                                        <label>Current Quantity</label>
                                        <input class="form-control form-control" id="quantity" placeholder="Quantity"
                                               readonly th:field="*{quantity}" type="number">
                                    </div>
                                    <div class="form-group" hidden="hidden">
                                        <label>Price</label>
                                        <input class="form-control form-control" id="price" placeholder="Price"
                                               th:field="*{price}" type="text">
                                    </div>
                                    <div class="form-group" hidden="hidden">
                                        <label>Product Description</label>
                                        <input class="form-control form-control" id="description"
                                               placeholder="Description"
                                               th:field="*{description}" type="text">
                                    </div>
                                    <div class="form-group">
                                        <label>Quantity To Import</label>
                                        <input class="form-control form-control" name="changeQuantity"
                                               placeholder="Quantity" required type="number">
                                    </div>
                                    <div class="form-group">
                                        <label>History Description</label>
                                        <input class="form-control form-control"
                                               name="histotyDescription"
                                               placeholder="History Description" required type="text">
                                    </div>
                                    <div class="card-action">
                                        <button class="btn btn-success" type="submit">Submit</button>
                                        <a class="btn btn-danger" th:href="@{~/admin/storage}">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>
<script th:replace="~{admin/fragment/library :: script}"></script>

<script>
    $(document).ready(function () {
        $('#multi-filter-select').DataTable({
            initComplete: function () {
                this.api().columns().every(function () {
                    var column = this;
                    var select = $('<select class="form-control"><option value=""></option></select>')
                        .appendTo($(column.footer()).empty())
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );

                            column
                                .search(val ? '^' + val + '$' : '', true, false)
                                .draw();
                        });

                    column.data().unique().sort().each(function (d, j) {
                        select.append('<option value="' + d + '">' + d + '</option>')
                    });
                });
            }
        });
        $('select').selectpicker({
            liveSearch: 'true',
            size: 6
        });
    });
</script>
</body>
</html>