<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Management</title>

    <meta th:replace="~{admin/fragment/library :: meta}"/>
    <link th:replace="~{admin/fragment/library :: link}"/>
</head>
<body>
<div class="wrapper">
    <!-- Main-header -->
    <div th:replace="~{admin/fragment/main-header :: .main-header}"></div>

    <!-- Sidebar -->
    <div th:replace="~{admin/fragment/sidebar :: .sidebar}"></div>

    <div class="main-panel">
        <div class="content">
            <div class="page-inner">
                <div th:replace="~{admin/fragment/page-header :: page-header(items = ${ {'Category', 'Management'} }) }"></div>

                <div class="row">
                    <div class="col-md-12">
                        <form method="post" th:action="@{~/admin/order/save_info}" th:object="${order}">

                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Order Management</h4>
                                </div>
                                <div class="card-body">
                                    <div class="tab-content mt-2 mb-3" id="pills-tabContent">

                                        <div aria-labelledby="pills-home-tab" class="tab-pane fade show active"
                                             id="pills-home"
                                             role="tabpanel">
                                            <div class="col-md-6">
                                                <div class="form-group" hidden="hidden">
                                                    <label>ID</label>
                                                    <input class="form-control form-control" id="id" name="email"
                                                           placeholder="ID" th:field="*{id}" type="text">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="email">Email</label>
                                                    <input class="form-control form-control" disabled id="email"
                                                           name="email" placeholder="Email"
                                                           th:value="${order.user.email}"
                                                           type="email">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Payment Type</label>
                                                    <input class="form-control form-control" disabled name="Address"
                                                           placeholder="Address"
                                                           th:value="${order.getPaymentType()}" type="text">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Date</label>
                                                    <input class="form-control form-control" disabled name="date"
                                                           placeholder="Date"
                                                           th:value="${@dateFormat.format(order.date)}"
                                                           type="text">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Total Price</label>
                                                    <input class="form-control form-control" disabled name="Address"
                                                           placeholder="Address"
                                                           th:value="${@vncurrency.format(order.getTotalOrderPrice())}"
                                                           type="text">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Name</label>
                                                    <input class="form-control form-control" name="name"
                                                           placeholder="Name"
                                                           required th:field="*{name}" type="text">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="phone">Phone</label>
                                                    <input class="form-control form-control" id="phone" name="email"
                                                           placeholder="Email" required th:field="*{phone}" type="text">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Address</label>
                                                    <input class="form-control form-control" name="Address"
                                                           placeholder="Address"
                                                           th:field="*{address}" type="text">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group" id="payment_status">
                                                    <label>Payment Status</label>
                                                    <select class="form-control form-control"
                                                            th:field="*{status}"
                                                            th:if='${order.getPaymentType().equals("COD")}'>
                                                        <option value="1">Đặt hàng thành công</option>
                                                        <option value="2">Đã xác nhận</option>
                                                        <option value="3">Đang giao hàng</option>
                                                        <option value="4">Đã nhận hàng</option>
                                                        <option value="5">Đã hủy</option>
                                                    </select>
                                                    <select class="form-control form-control"
                                                            th:field="*{status}"
                                                            th:if='${order.getPaymentType().equals("MOMO")}'>
                                                        <option value="10">Đang chờ thanh toán</option>
                                                        <option value="11">Đặt hàng thành công</option>
                                                        <option value="12">Đã xác nhận</option>
                                                        <option value="13">Đang giao hàng</option>
                                                        <option value="14">Đã nhận hàng</option>
                                                        <option value="15">Đã hủy</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="text-right mt-3 mb-3">
                                                <button class="btn btn-success" type="submit">Save</button>
                                                <button class="btn btn-danger">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">

                        <div class="card">
                            <div class="card-header d-flex align-items-center">
                                <h4 class="card-title">List Products</h4>
                            </div>

                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="display table table-striped table-hover" id="multi-filter-select">
                                        <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Quantity</th>
                                            <th>Price</th>
                                            <th>Total Price</th>
                                        </tr>
                                        </thead>
                                        <tfoot>
                                        <tr>
                                            <th>Product</th>
                                            <th>Quantity</th>
                                            <th>Price</th>
                                            <th>Total Price</th>
                                        </tr>
                                        </tfoot>
                                        <tbody>
                                        <tr th:each="orderDetail : ${order.orderDetails}">
                                            <td th:utext='${orderDetail.product.name}'></td>
                                            <td th:utext='${orderDetail.quantity}'></td>
                                            <td th:utext='${@vncurrency.format(orderDetail.price)}'></td>
                                            <td
                                                    th:utext='${@vncurrency.format(orderDetail.price * orderDetail.quantity)}'>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>


</div>
<script th:replace="~{admin/fragment/library :: script}"></script>

<script>
    $(document).ready(function () {
        $('#multi-filter-select').DataTable({
            initComplete: function () {
                this.api().columns().every(function () {
                    var column = this;
                    var select = $('<select class="form-control"><option value=""></option></select>')
                        .appendTo($(column.footer()).empty())
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );

                            column
                                .search(val ? '^' + val + '$' : '', true, false)
                                .draw();
                        });

                    column.data().unique().sort().each(function (d, j) {
                        select.append('<option value="' + d + '">' + d + '</option>')
                    });
                });
            }
        });
        $('select').selectpicker({
            liveSearch: 'true',
            size: 6
        });
    });
</script>
</body>
</html>