<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
    <title>Admin Management</title>

    <meta th:replace="~{admin/fragment/library :: meta}"/>
    <link th:replace="~{admin/fragment/library :: link}"/>
</head>
<body>
<div class="wrapper">
    <!-- Main-header -->
    <div th:replace="~{admin/fragment/main-header :: .main-header}"></div>

    <!-- Sidebar -->
    <div th:replace="~{admin/fragment/sidebar :: .sidebar}"></div>

    <div class="main-panel">
        <div class="content">
            <div class="page-inner">
                <div th:replace="~{admin/fragment/page-header :: page-header(items = ${ {'User', 'Add'} }) }"></div>
                <!--                Change HERE-->
                <div class="row">
                    <div class="col-md-12">
                        <form th:action="@{~/admin/customer/save}" th:object="${user}" method="post" id="addForm">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title">User</div>
                                </div>
                                <div class="card-body">
                                    <div class="form-group" contenteditable="false" hidden="hidden">
                                        <label for="id">ID</label>
                                        <input type="text" class="form-control form-control" id="id" th:field="*{id}" placeholder="ID">
                                    </div>
                                    <div class="form-group">
                                        <label for="defaultInput">User Email</label>
                                        <input class="form-control form-control" id="defaultInput" name="email"
                                               placeholder="User Email" required th:field="*{email}" type="email">
                                    </div>
                                    <div class="form-group">
                                        <label for="defaultInput">User Name</label>
                                        <input class="form-control form-control" id="defaultInput"
                                               placeholder="User Name" required th:field="*{fullname}" type="text">
                                    </div>
                                    <div class="form-group">
                                        <label for="defaultInput">User Password</label>
                                        <input type="password" class="form-control form-control" th:field="*{password}" placeholder="Password" id="pass" required name="password" onkeyup='check();'>
                                    </div>
                                    <div class="form-group">
                                        <label for="defaultInput">Confirm Password</label>
                                        <input type="password" class="form-control form-control" required name="confirmPassword" id="confirmPass" onkeyup='check();'>
                                    </div>
                                    <div class="form-group">
                                        <label for="defaultSelect">Role</label>
                                        <select class="form-control form-control" id="defaultSelect" th:field="*{role}">
                                            <option th:text="ROLE_CUSTOMER" th:value="CUSTOMER"></option>
                                            <option th:text="ROLE_ADMIN" th:value="ADMIN"></option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <span id='message'></span>
                                    </div>
                                </div>
                                <div class="card-action">
                                    <button class="btn btn-success" type="submit" id="submit" disabled>Submit</button>
                                    <a class="btn btn-danger" th:href="@{~/admin/customer}">Cancel</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:replace="~{admin/fragment/library :: script}"></script>

<script>
    $(document).ready(function () {
        $('select').selectpicker({
            liveSearch: 'true',
            size: 6
        });
    });

    var check = function () {
        if (document.getElementById('pass').value !=
            document.getElementById('confirmPass').value) {
            document.getElementById('message').hidden = false;
            document.getElementById('submit').disabled = true;
            document.getElementById('message').style.color = 'red';
            document.getElementById('message').innerHTML = 'Password not matching';
        } else if (document.getElementById('pass').value.length < 6) {
            document.getElementById('message').hidden = false;
            document.getElementById('submit').disabled = true;
            document.getElementById('message').style.color = 'red';
            document.getElementById('message').innerHTML = 'Password must have more than 6 character';
        } else if ('&{checkEmail}' == true) {
            document.getElementById('message').hidden = false;
            document.getElementById('submit').disabled = true;
            document.getElementById('message').style.color = 'red';
            document.getElementById('message').innerHTML = 'Email is already exist';
        } else {
            document.getElementById('message').hidden = true;
            document.getElementById('submit').disabled = false;

        }
    }
</script>

</body>
</html>