<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
    <link rel="icon" th:href="@{~/ad/assets/img/icon.ico}" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{~/ad/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{~/ad/assets/css/azzara.min.css}">
    <link rel="stylesheet" th:href="@{~/ad/assets/css/all.css}">
    <link rel="stylesheet" th:href="@{~/ad/assets/css/fonts.css}">


    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport'/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <!-- Fonts and icons -->
<!--    <script th:src="@{~/ad/assets/js/plugin/webfont/webfont.min.js}"></script>-->

    <script>

    </script>


    <!--   Core JS Files   -->
    <script th:src="@{~/ad/assets/js/core/jquery.3.2.1.min.js}"></script>
    <script th:src="@{~/ad/assets/js/core/popper.min.js}"></script>
    <script th:src="@{~/ad/assets/js/core/bootstrap.min.js}"></script>

    <!-- jQuery UI -->
    <script th:src="@{~/ad/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js}"></script>
    <script th:src="@{~/ad/assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js}"></script>

    <!-- jQuery Scrollbar -->
    <script th:src="@{~/ad/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js}"></script>

    <!-- Moment JS -->
    <script th:src="@{~/ad/assets/js/plugin/moment/moment.min.js}"></script>

    <!-- Chart JS -->
    <script th:src="@{~/ad/assets/js/plugin/chart.js/chart.min.js}"></script>

    <!-- jQuery Sparkline -->
    <script th:src="@{~/ad/assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js}"></script>

    <!-- Chart Circle -->
    <script th:src="@{~/ad/assets/js/plugin/chart-circle/circles.min.js}"></script>

    <!-- Datatables -->
    <script th:src="@{~/ad/assets/js/plugin/datatables/datatables.min.js}"></script>

    <!-- Bootstrap Notify -->
    <script th:src="@{~/ad/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js}"></script>

    <!-- Bootstrap Toggle -->
    <script th:src="@{~/ad/assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js}"></script>

    <!-- jQuery Vector Maps -->
    <script th:src="@{~/ad/assets/js/plugin/jqvmap/jquery.vmap.min.js}"></script>
    <script th:src="@{~/ad/assets/js/plugin/jqvmap/maps/jquery.vmap.world.js}"></script>

    <!-- Google Maps Plugin -->
    <script th:src="@{~/ad/assets/js/plugin/gmaps/gmaps.js}"></script>

    <!-- Sweet Alert -->
    <script th:src="@{~/ad/assets/js/plugin/sweetalert/sweetalert.min.js}"></script>

    <!-- Azzara JS -->
    <script th:src="@{~/ad/assets/js/ready.min.js}"></script>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>

    <!-- (Optional) Latest compiled and minified JavaScript translation files -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/i18n/defaults-*.min.js"></script>
</html>