<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Favicons -->
<link rel="shortcut icon" th:href="@{~/web/images/favicon.ico}">
<link rel="apple-touch-icon" th:href="@{~/web/images/icon.png}">

<!-- Google font (font-family: 'Roboto', sans-serif; Poppins ; Satisfy) -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,600,600i,700,700i,800" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

<!-- Stylesheets -->
<link rel="stylesheet" th:href="@{~/web/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{~/web/css/plugins.css}">
<link rel="stylesheet" th:href="@{~/web/style.css}">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.1.0/css/all.css">

<!-- Cusom css -->
<link rel="stylesheet" th:href="@{~/web/css/custom.css}">

<!-- Modernizer js -->
<script th:src="@{~/web/js/vendor/modernizr-3.5.0.min.js}"></script>

<!-- JS Files -->
<script th:src="@{~/web/js/vendor/jquery-3.2.1.min.js}"></script>
<script th:src="@{~/web/js/popper.min.js}"></script>
<script th:src="@{~/web/js/bootstrap.min.js}"></script>
<script th:src="@{~/web/js/plugins.js}"></script>
<script th:src="@{~/web/js/active.js}"></script>
</html>