<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
    <div id="main-search" class="box-search-content search_active block-bg close__top">
        <form action="#" class="minisearch" id="search_mini_form">
            <div class="field__search">
                <input placeholder="Search entire store here..." type="text">
                <div class="action">
                    <a href="#"><i class="zmdi zmdi-search"></i></a>
                </div>
            </div>
        </form>
        <div class="close__wrap">
            <span>close</span>
        </div>
    </div>
</html>