<!DOCTYPE html>
<html lang="vi">
<div class="box-search-content search_active block-bg close__top" id="main-search">
    <div class="minisearch" id="search_mini_form">
        <div class="field__search">
            <input placeholder="Search entire store here..." type="text">
            <div class="action">
                <a href="#"><i class="zmdi zmdi-search"></i></a>
            </div>
            <ul>

            </ul>
        </div>
        <div class="close__wrap">
            <span>close</span>
        </div>
    </div>
</div>
</html>